.container{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 100%;
}
.element{
    margin-bottom: 2%;
}
.btnstyle{
    background-color: green;
    color: white; width: 80px; height: 30px; position: relative; top: 35%;
  }

  .btnCanceltyle{
    background-color: red; margin-right: 5px;
    color: white; width: 80px; height: 30px; position: relative; top: 35%;
  }